@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e11d48; /* Emergency Red */
  --secondary: #ffffff;
  --accent: #fcd34d; /* Warning Yellow (optional) */
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}